 <div class="jumbotron changepwd offset-3">
    <h4 class="display-4 text-center">Change Password</h4>
<form  [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)" class="login-container">
      <mat-form-field>
        <input matInput type="password"  formControlName="oldPassword" id="oldPassword" placeholder="Old Password">
        <mat-error *ngIf="!userform.controls['oldPassword'].valid&& (userform.controls['oldPassword'].dirty || userform.controls['oldPassword'].touched)">
          Old Password is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" -->
      <input type="password" matInput  formControlName="newPassword" id="newPassword" placeholder="New Password">
      <mat-error *ngIf="!userform.controls['newPassword'].valid&&(userform.controls['newPassword'].dirty || userform.controls['newPassword'].touched)">
        <span class="mb-3" *ngIf="userform.controls['newPassword'].errors['required']">Password is required</span>
        <span class="mb-3" *ngIf="userform.controls['newPassword'].errors['pattern']">Contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter</span>
      </mat-error>
      </mat-form-field>

    <mat-form-field>
            <input type="password" matInput  formControlName="cpassword" id="cpassword" placeholder="Confirm Password">
            <mat-error *ngIf="!userform.controls['cpassword'].valid&& (userform.controls['cpassword'].dirty || userform.controls['cpassword'].touched)">
              <span *ngIf="userform.controls['cpassword'].errors['required']">Confirm Password is required</span>
              <span *ngIf="userform.controls['cpassword'].errors['minlength']">Must be longer than 8 characters</span>
              <span *ngIf="userform.controls['cpassword'].errors['notEquivalent']">Password Not Matching</span>
            </mat-error>
    </mat-form-field>

    <div class="d-block mt-3">
        <button mat-raised-button color="primary" type="submit" [disabled]="!userform.valid">Submit</button>
    </div>
  </form>
  </div>

