<div class="container-fluid">

    <h3 class="heading mb-3 mt-5">About Angular Version 1.0</h3>
    <div>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque condimentum dolor, eget ultrices ipsum fermentum
        quis. Sed lorem lorem, iaculis sed sollicitudin nec, fermentum in magna. Donec facilisis tempor fringilla. Nunc rutrum
        turpis a faucibus ultricies. Fusce volutpat quam mi, pretium volutpat mauris bibendum fermentum. Vivamus condimentum
        tortor id placerat lobortis. Pellentesque sodales interdum nisi, ac vehicula eros finibus eu. Cras feugiat ipsum eget
        pellentesque euismod. Ut rutrum, risus non euismod dapibus, risus mi pulvinar mi, ac condimentum eros turpis id ex.
        Cras at sollicitudin nibh. Vivamus malesuada nunc non arcu vestibulum scelerisque.</p>
      </div>
        <hr />
        <h3 class="heading mb-3 mt-4">About DB Version 1.0</h3>
    <div>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque condimentum dolor, eget ultrices ipsum fermentum
        quis. Sed lorem lorem, iaculis sed sollicitudin nec, fermentum in magna. Donec facilisis tempor fringilla. Nunc rutrum
        turpis a faucibus ultricies. Fusce volutpat quam mi, pretium volutpat mauris bibendum fermentum. Vivamus condimentum
        tortor id placerat lobortis. Pellentesque sodales interdum nisi, ac vehicula eros finibus eu. Cras feugiat ipsum eget
        pellentesque euismod. Ut rutrum, risus non euismod dapibus, risus mi pulvinar mi, ac condimentum eros turpis id ex.
        Cras at sollicitudin nibh. Vivamus malesuada nunc non arcu vestibulum scelerisque.</p>
      </div>
        <hr />
        <h3 class="heading mb-3 mt-4">About Java Version 1.0</h3>
    <div>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque condimentum dolor, eget ultrices ipsum fermentum
        quis. Sed lorem lorem, iaculis sed sollicitudin nec, fermentum in magna. Donec facilisis tempor fringilla. Nunc rutrum
        turpis a faucibus ultricies. Fusce volutpat quam mi, pretium volutpat mauris bibendum fermentum. Vivamus condimentum
        tortor id placerat lobortis. Pellentesque sodales interdum nisi, ac vehicula eros finibus eu. Cras feugiat ipsum eget
        pellentesque euismod. Ut rutrum, risus non euismod dapibus, risus mi pulvinar mi, ac condimentum eros turpis id ex.
        Cras at sollicitudin nibh. Vivamus malesuada nunc non arcu vestibulum scelerisque.</p>
      </div>
        <hr />
        <h3 class="heading mb-3 mt-4">Browser Compatibility</h3>
    <div>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque condimentum dolor, eget ultrices ipsum fermentum
        quis. Sed lorem lorem, iaculis sed sollicitudin nec, fermentum in magna. Donec facilisis tempor fringilla. Nunc rutrum
        turpis a faucibus ultricies. Fusce volutpat quam mi, pretium volutpat mauris bibendum fermentum. Vivamus condimentum
        tortor id placerat lobortis. Pellentesque sodales interdum nisi, ac vehicula eros finibus eu. Cras feugiat ipsum eget
        pellentesque euismod. Ut rutrum, risus non euismod dapibus, risus mi pulvinar mi, ac condimentum eros turpis id ex.
        Cras at sollicitudin nibh. Vivamus malesuada nunc non arcu vestibulum scelerisque.</p>
      </div>
  </div>